<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>大笑</string>
		<key>png</key>
		<string>daxiao@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>两眼放光</string>
		<key>png</key>
		<string>fangguang@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>抠鼻</string>
		<key>png</key>
		<string>koubi@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>吐舌</string>
		<key>png</key>
		<string>tushe@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>委屈</string>
		<key>png</key>
		<string>weiqu@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>微笑</string>
		<key>png</key>
		<string>weixiao@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>吓</string>
		<key>png</key>
		<string>xia@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鄙视</string>
		<key>png</key>
		<string>bishi@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>闭嘴</string>
		<key>png</key>
		<string>bizui@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>不高兴</string>
		<key>png</key>
		<string>bugaoxin@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大哭</string>
		<key>png</key>
		<string>daku@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鼓掌</string>
		<key>png</key>
		<string>guzhang@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>汗</string>
		<key>png</key>
		<string>han@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>酷</string>
		<key>png</key>
		<string>ku@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>亲亲</string>
		<key>png</key>
		<string>qinqin@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>生气</string>
		<key>png</key>
		<string>shengqi@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>喜欢</string>
		<key>png</key>
		<string>xihuan@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>晕</string>
		<key>png</key>
		<string>yun@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>抓狂</string>
		<key>png</key>
		<string>zhuakuang@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>打</string>
		<key>png</key>
		<string>da@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>哈欠</string>
		<key>png</key>
		<string>haqian@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>哼</string>
		<key>png</key>
		<string>heng@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>撇嘴</string>
		<key>png</key>
		<string>piezui@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>睡觉</string>
		<key>png</key>
		<string>shuijiao@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>微笑</string>
		<key>png</key>
		<string>weixiao@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>再见</string>
		<key>png</key>
		<string>zaijian@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>坏笑</string>
		<key>png</key>
		<string>huaixiao@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>可怜</string>
		<key>png</key>
		<string>kelian@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>贱笑</string>
		<key>png</key>
		<string>jianxiao@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>疑问</string>
		<key>png</key>
		<string>yiwen@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>无语</string>
		<key>png</key>
		<string>wuyu@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>怒骂</string>
		<key>png</key>
		<string>numa@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>困</string>
		<key>png</key>
		<string>kun@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>口罩</string>
		<key>png</key>
		<string>kouzhao@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>赞</string>
		<key>png</key>
		<string>zan@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ok</string>
		<key>png</key>
		<string>ok_icon@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>耶</string>
		<key>png</key>
		<string>ye@2x.png</string>
	</dict>
</array>
</plist>
