<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>white_gold</key>
	<dict>
		<key>navBarIcon3Color</key>
		<string>333333</string>
		<key>navCollectBtnColor</key>
		<string>d29c44</string>
		<key>emptyTimeBgColor</key>
		<string>bbbbbb</string>
		<key>releatedPhotoBorderColor</key>
		<string>e2e2e2</string>
		<key>title8Color</key>
		<string>333333</string>
		<key>title7Color</key>
		<string>000000</string>
		<key>videoBackCenterColor</key>
		<string>33ffffff</string>
		<key>title6Color</key>
		<string>666666</string>
		<key>navBarIcon2Color</key>
		<string>333333</string>
		<key>activityTimeTitleColor</key>
		<string>e8b45e</string>
		<key>title5Color</key>
		<string>ffffff</string>
		<key>activityTimeBgEndColor</key>
		<string>e0ab54</string>
		<key>activityTimeBgStartColor</key>
		<string>e8b45e</string>
		<key>workTag3TintColor</key>
		<string>d29c44</string>
		<key>title4Color</key>
		<string>444444</string>
		<key>content3Color</key>
		<string>444444</string>
		<key>contentBackgroundColor4</key>
		<string>ffffff</string>
		<key>videoBackStartColor</key>
		<string>ffffff</string>
		<key>videoBackEndColor</key>
		<string>00ffffff</string>
		<key>seeAllButtonColor</key>
		<string>d29c44</string>
		<key>watchCountColor</key>
		<string>666666</string>
		<key>commentLevelColor</key>
		<string>d29c44</string>
		<key>starProgressStarEndColor</key>
		<string>d29c44</string>
		<key>starProgressStarStartColor</key>
		<string>e1ad58</string>
		<key>caseBottomTagColor</key>
		<string>eeeeeee</string>
		<key>starProgressUnStarEndColor</key>
		<string>c9c9c9</string>
		<key>starProgressUnStarStartColor</key>
		<string>999999</string>
		<key>hotelWatchButtonColor</key>
		<string>e8b45e</string>
		<key>workTag2TintColor</key>
		<string>666666</string>
		<key>workTag2BackGroundColor</key>
		<string>f5f5f5</string>
		<key>groupbugTitleTintColor</key>
		<string>666666</string>
		<key>groupbugImage</key>
		<string>icon_merchant_detail_groupbuy_gold</string>
		<key>workTagTintColor</key>
		<string>ffffff</string>
		<key>workPhotoCountTintColor</key>
		<string>999999</string>
		<key>workTagBackGroundColor</key>
		<string>e8b45e</string>
		<key>workBackGroundColor</key>
		<string>ffffff</string>
		<key>couponReceiveImage</key>
		<string>icon_merchant_detail_coupon_gold_selected</string>
		<key>couponUnReceiveImage</key>
		<string>icon_merchant_detail_coupon_gold</string>
		<key>callPhoneImage</key>
		<string>icon_merchant_call_phone_gold</string>
		<key>jinxijiangImage</key>
		<string>icon_merchant_detail_jinxijiang</string>
		<key>jinxijiangLeftImage</key>
		<string>icon_merchant_detail_jinxijiang_pre</string>
		<key>watchButtonBackgroundEndColor</key>
		<string>d29c44</string>
		<key>watchButtonBackgroundStartColor</key>
		<string>e1ad58</string>
		<key>navBarIconDefaultColor</key>
		<string>333333</string>
		<key>commentCellTagBorderColor</key>
		<string>1</string>
		<key>commentCellTagDefaultyColor</key>
		<string>fff8ed</string>
		<key>tipsBackgroundColor</key>
		<string>BF000000</string>
		<key>barStyleLightContent</key>
		<string>1</string>
		<key>merchantActivityCellFinishBackGroundColor</key>
		<string>CCCCCC</string>
		<key>merchantHeaderBoxImage</key>
		<string>image_merchant_header_box</string>
		<key>navBarIconColor</key>
		<string>ffffff</string>
		<key>merchantFocusSelectImage</key>
		<string>icon_merchant_focus_select_gold</string>
		<key>merchantFocusNormImage</key>
		<string>icon_merchant_focus_norm_gold</string>
		<key>linkColor</key>
		<string>nil</string>
		<key>commentCellNameColor</key>
		<string>333333</string>
		<key>contentBackground1Color</key>
		<string>F6F6F7</string>
		<key>line2Color</key>
		<string>D2D2D2</string>
		<key>content2Color</key>
		<string>333333</string>
		<key>starProgressLineColor</key>
		<string>e8b45e</string>
		<key>starProgressTintColor</key>
		<string>e8b45e</string>
		<key>emptyCommentColor</key>
		<string>d29c44</string>
		<key>starTrackTintColor</key>
		<string>E2E2E2</string>
		<key>merchantDynamicDayColor</key>
		<string>e8b45e</string>
		<key>merchantDynamicMonthColor</key>
		<string>e8b45e</string>
		<key>merchantQuestionTitleColor</key>
		<string>333333</string>
		<key>accentColor</key>
		<string>d29c44</string>
		<key>merchantCountDownBackgroundColor</key>
		<string>666666</string>
		<key>title0Color</key>
		<string>000000</string>
		<key>contentExtColor</key>
		<string>999999</string>
		<key>title2Color</key>
		<string>333333</string>
		<key>title3Color</key>
		<string>333333</string>
		<key>line1Color</key>
		<string>E2E2E2</string>
		<key>content1Color</key>
		<string>999999</string>
		<key>title1Color</key>
		<string>333333</string>
		<key>navBarTitleColor</key>
		<string>000000</string>
		<key>primaryColor</key>
		<string>d29c44</string>
		<key>watchButtonColor</key>
		<string>ffffff</string>
		<key>contentBackgroundColor</key>
		<string>ffffff</string>
		<key>contentBackgroundColor1</key>
		<string>F2F3F6</string>
		<key>contentBackgroundColor2</key>
		<string>333333</string>
		<key>contentBackgroundColor3</key>
		<string>ffffff</string>
		<key>backgroundColor</key>
		<string>f2f3f6</string>
		<key>imageBackgroundColor</key>
		<string>EEEEEE</string>
		<key>merchantDetailStatusImageColor</key>
		<string>000000</string>
		<key>workTagTitleColor</key>
		<string>ffffff</string>
		<key>merchantDetailConfidenceImage</key>
		<string>icon_merchant_confidence_merchant_detail_normal</string>
		<key>hotelAddressColor</key>
		<string>666666</string>
		<key>merchantDetailTagTextColor</key>
		<string>ffffff</string>
		<key>merchantDetailTagBackgroundColor</key>
		<string>d29c44</string>
	</dict>
	<key>red</key>
	<dict>
		<key>merchantDetailTagTextColor</key>
		<string>F83244</string>
		<key>merchantDetailTagBackgroundColor</key>
		<string>ffebed</string>
		<key>navBarIcon3Color</key>
		<string>f83244</string>
		<key>navCollectBtnColor</key>
		<string>F83244</string>
		<key>emptyTimeBgColor</key>
		<string>bbbbbb</string>
		<key>releatedPhotoBorderColor</key>
		<string>e2e2e2</string>
		<key>title8Color</key>
		<string>333333</string>
		<key>title7Color</key>
		<string>000000</string>
		<key>videoBackCenterColor</key>
		<string>33ffffff</string>
		<key>title6Color</key>
		<string>666666</string>
		<key>navBarIcon2Color</key>
		<string>333333</string>
		<key>activityTimeTitleColor</key>
		<string>ff6e49</string>
		<key>title5Color</key>
		<string>ffffff</string>
		<key>activityTimeBgEndColor</key>
		<string>ff5380</string>
		<key>activityTimeBgStartColor</key>
		<string>ff7241</string>
		<key>workTag3TintColor</key>
		<string>ffebed</string>
		<key>title4Color</key>
		<string>444444</string>
		<key>content3Color</key>
		<string>444444</string>
		<key>contentBackgroundColor4</key>
		<string>ffffff</string>
		<key>videoBackEndColor</key>
		<string>00ffffff</string>
		<key>videoBackStartColor</key>
		<string>ffffff</string>
		<key>seeAllButtonColor</key>
		<string>578afe</string>
		<key>watchCountColor</key>
		<string>666666</string>
		<key>commentLevelColor</key>
		<string>ff801a</string>
		<key>title3Color</key>
		<string>333333</string>
		<key>starProgressStarStartColor</key>
		<string>ff9347</string>
		<key>starProgressStarEndColor</key>
		<string>ff702d</string>
		<key>caseBottomTagColor</key>
		<string>eeeeeee</string>
		<key>starProgressUnStarEndColor</key>
		<string>c9c9c9</string>
		<key>starProgressUnStarStartColor</key>
		<string>999999</string>
		<key>hotelWatchButtonColor</key>
		<string>666666</string>
		<key>workTag2TintColor</key>
		<string>666666</string>
		<key>workTag2BackGroundColor</key>
		<string>f5f5f5</string>
		<key>groupbugTitleTintColor</key>
		<string>666666</string>
		<key>groupbugImage</key>
		<string>icon_merchant_detail_groupbuy_red</string>
		<key>workTagTintColor</key>
		<string>ff5b6a</string>
		<key>workTagBackGroundColor</key>
		<string>fff0f0</string>
		<key>workPhotoCountTintColor</key>
		<string>999999</string>
		<key>workBackGroundColor</key>
		<string>ffffff</string>
		<key>couponReceiveImage</key>
		<string>icon_merchant_detail_coupon_normal_selected</string>
		<key>couponUnReceiveImage</key>
		<string>icon_merchant_detail_coupon_normal</string>
		<key>callPhoneImage</key>
		<string>icon_merchant_call_phone_red</string>
		<key>jinxijiangImage</key>
		<string>icon_merchant_detail_jinxijiang</string>
		<key>jinxijiangLeftImage</key>
		<string>icon_merchant_detail_jinxijiang_pre</string>
		<key>watchButtonBackgroundStartColor</key>
		<string>ff5b6a</string>
		<key>watchButtonBackgroundEndColor</key>
		<string>f83244</string>
		<key>navBarIconDefaultColor</key>
		<string>333333</string>
		<key>contentBackgroundColor1</key>
		<string>F2F3F6</string>
		<key>contentBackgroundColor2</key>
		<string>333333</string>
		<key>contentBackgroundColor3</key>
		<string>ffffff</string>
		<key>commentCellTagBorderColor</key>
		<string>1</string>
		<key>commentCellTagDefaultyColor</key>
		<string>fff3f5</string>
		<key>tipsBackgroundColor</key>
		<string>BF000000</string>
		<key>barStyleLightContent</key>
		<string>1</string>
		<key>merchantActivityCellFinishBackGroundColor</key>
		<string>CCCCCC</string>
		<key>merchantHeaderBoxImage</key>
		<string>nil</string>
		<key>navBarIconColor</key>
		<string>ffffff</string>
		<key>merchantFocusSelectImage</key>
		<string>icon_merchant_focus_select</string>
		<key>merchantFocusNormImage</key>
		<string>icon_merchant_focus_norm</string>
		<key>linkColor</key>
		<string>nil</string>
		<key>commentCellNameColor</key>
		<string>333333</string>
		<key>contentBackground1Color</key>
		<string>F6F6F7</string>
		<key>line2Color</key>
		<string>D2D2D2</string>
		<key>content2Color</key>
		<string>333333</string>
		<key>starProgressLineColor</key>
		<string>e8b45e</string>
		<key>starProgressTintColor</key>
		<string>ffd21c</string>
		<key>emptyCommentColor</key>
		<string>F83244</string>
		<key>starTrackTintColor</key>
		<string>E2E2E2</string>
		<key>merchantDynamicDayColor</key>
		<string>e8b45e</string>
		<key>merchantDynamicMonthColor</key>
		<string>e8b45e</string>
		<key>merchantQuestionTitleColor</key>
		<string>333333</string>
		<key>accentColor</key>
		<string>F83244</string>
		<key>merchantCountDownBackgroundColor</key>
		<string>666666</string>
		<key>title0Color</key>
		<string>000000</string>
		<key>contentExtColor</key>
		<string>999999</string>
		<key>title2Color</key>
		<string>333333</string>
		<key>line1Color</key>
		<string>E2E2E2</string>
		<key>content1Color</key>
		<string>999999</string>
		<key>title1Color</key>
		<string>333333</string>
		<key>navBarTitleColor</key>
		<string>000000</string>
		<key>primaryColor</key>
		<string>F83244</string>
		<key>watchButtonColor</key>
		<string>ffffff</string>
		<key>contentBackgroundColor</key>
		<string>ffffff</string>
		<key>backgroundColor</key>
		<string>f2f3f6</string>
		<key>imageBackgroundColor</key>
		<string>EEEEEE</string>
		<key>merchantDetailStatusImageColor</key>
		<string>000000</string>
		<key>workTagTitleColor</key>
		<string>F83244</string>
		<key>merchantDetailConfidenceImage</key>
		<string>icon_merchant_confidence_merchant_detail_normal</string>
		<key>hotelAddressColor</key>
		<string>666666</string>
	</dict>
	<key>pink</key>
	<dict>
		<key>merchantDetailTagTextColor</key>
		<string>ffffff</string>
		<key>merchantDetailTagBackgroundColor</key>
		<string>ff7894</string>
		<key>navBarIcon3Color</key>
		<string>ff7894</string>
		<key>navCollectBtnColor</key>
		<string>ffffff</string>
		<key>emptyTimeBgColor</key>
		<string>bbbbbb</string>
		<key>releatedPhotoBorderColor</key>
		<string>e2e2e2</string>
		<key>title8Color</key>
		<string>333333</string>
		<key>title7Color</key>
		<string>000000</string>
		<key>videoBackCenterColor</key>
		<string>33ff7894</string>
		<key>title6Color</key>
		<string>ffffff</string>
		<key>navBarIcon2Color</key>
		<string>ffffff</string>
		<key>activityTimeTitleColor</key>
		<string>ff6e49</string>
		<key>title5Color</key>
		<string>ffffff</string>
		<key>activityTimeBgEndColor</key>
		<string>ff5380</string>
		<key>activityTimeBgStartColor</key>
		<string>ff7241</string>
		<key>workTag3TintColor</key>
		<string>ff7894</string>
		<key>title4Color</key>
		<string>444444</string>
		<key>content3Color</key>
		<string>444444</string>
		<key>contentBackgroundColor4</key>
		<string>ffffff</string>
		<key>videoBackStartColor</key>
		<string>ff7894</string>
		<key>videoBackEndColor</key>
		<string>00ff7894</string>
		<key>seeAllButtonColor</key>
		<string>ff801a</string>
		<key>watchCountColor</key>
		<string>ffffff</string>
		<key>commentLevelColor</key>
		<string>ffedae</string>
		<key>title3Color</key>
		<string>ffffff</string>
		<key>starProgressStarEndColor</key>
		<string>ff7894</string>
		<key>starProgressStarStartColor</key>
		<string>ff8ca4</string>
		<key>caseBottomTagColor</key>
		<string>eeeeee</string>
		<key>starProgressUnStarEndColor</key>
		<string>c9c9c9</string>
		<key>starProgressUnStarStartColor</key>
		<string>999999</string>
		<key>hotelWatchButtonColor</key>
		<string>ff8ca4</string>
		<key>workTag2TintColor</key>
		<string>666666</string>
		<key>workTag2BackGroundColor</key>
		<string>f5f5f5</string>
		<key>groupbugTitleTintColor</key>
		<string>666666</string>
		<key>groupbugImage</key>
		<string>icon_merchant_detail_groupbuy_pink</string>
		<key>workTagTintColor</key>
		<string>ffffff</string>
		<key>workPhotoCountTintColor</key>
		<string>999999</string>
		<key>workTagBackGroundColor</key>
		<string>ff7894</string>
		<key>workBackGroundColor</key>
		<string>ffffff</string>
		<key>couponReceiveImage</key>
		<string>icon_merchant_detail_coupon_normal_selected</string>
		<key>couponUnReceiveImage</key>
		<string>icon_merchant_detail_coupon_normal</string>
		<key>callPhoneImage</key>
		<string>icon_merchant_call_phone_pink</string>
		<key>jinxijiangImage</key>
		<string>icon_merchant_detail_jinxijiang</string>
		<key>jinxijiangLeftImage</key>
		<string>icon_merchant_detail_jinxijiang_pre</string>
		<key>watchButtonBackgroundEndColor</key>
		<string>ff7894</string>
		<key>watchButtonBackgroundStartColor</key>
		<string>ff8ca4</string>
		<key>navBarIconDefaultColor</key>
		<string>333333</string>
		<key>contentBackgroundColor2</key>
		<string>333333</string>
		<key>contentBackgroundColor1</key>
		<string>F2F3F6</string>
		<key>contentBackgroundColor3</key>
		<string>ff7894</string>
		<key>commentCellTagBorderColor</key>
		<string>1</string>
		<key>commentCellTagDefaultyColor</key>
		<string>fff3f5</string>
		<key>tipsBackgroundColor</key>
		<string>BF000000</string>
		<key>barStyleLightContent</key>
		<string>1</string>
		<key>merchantActivityCellFinishBackGroundColor</key>
		<string>CCCCCC</string>
		<key>merchantHeaderBoxImage</key>
		<string>nil</string>
		<key>navBarIconColor</key>
		<string>ffffff</string>
		<key>merchantFocusSelectImage</key>
		<string>icon_merchant_focus_select_gold</string>
		<key>merchantFocusNormImage</key>
		<string>icon_merchant_focus_norm_gold</string>
		<key>linkColor</key>
		<string>nil</string>
		<key>commentCellNameColor</key>
		<string>333333</string>
		<key>contentBackground1Color</key>
		<string>F6F6F7</string>
		<key>line2Color</key>
		<string>D2D2D2</string>
		<key>content2Color</key>
		<string>333333</string>
		<key>starProgressLineColor</key>
		<string>e8b45e</string>
		<key>starProgressTintColor</key>
		<string>ff8ca4</string>
		<key>emptyCommentColor</key>
		<string>ff7894</string>
		<key>starTrackTintColor</key>
		<string>E2E2E2</string>
		<key>merchantDynamicDayColor</key>
		<string>e8b45e</string>
		<key>merchantDynamicMonthColor</key>
		<string>e8b45e</string>
		<key>merchantQuestionTitleColor</key>
		<string>333333</string>
		<key>accentColor</key>
		<string>ff801a</string>
		<key>merchantCountDownBackgroundColor</key>
		<string>666666</string>
		<key>title0Color</key>
		<string>000000</string>
		<key>contentExtColor</key>
		<string>999999</string>
		<key>title2Color</key>
		<string>333333</string>
		<key>line1Color</key>
		<string>E2E2E2</string>
		<key>content1Color</key>
		<string>999999</string>
		<key>title1Color</key>
		<string>333333</string>
		<key>navBarTitleColor</key>
		<string>000000</string>
		<key>primaryColor</key>
		<string>ff7894</string>
		<key>watchButtonColor</key>
		<string>ffffff</string>
		<key>contentBackgroundColor</key>
		<string>ffffff</string>
		<key>backgroundColor</key>
		<string>f2f3f6</string>
		<key>imageBackgroundColor</key>
		<string>EEEEEE</string>
		<key>merchantDetailStatusImageColor</key>
		<string>ffffff</string>
		<key>workTagTitleColor</key>
		<string>ffffff</string>
		<key>merchantDetailConfidenceImage</key>
		<string>icon_merchant_confidence_merchant_detail_normal</string>
		<key>hotelAddressColor</key>
		<string>666666</string>
	</dict>
	<key>green</key>
	<dict>
		<key>merchantDetailTagTextColor</key>
		<string>ffffff</string>
		<key>merchantDetailTagBackgroundColor</key>
		<string>2fc07a</string>
		<key>navBarIcon3Color</key>
		<string>2fc07a</string>
		<key>navCollectBtnColor</key>
		<string>ffffff</string>
		<key>emptyTimeBgColor</key>
		<string>bbbbbb</string>
		<key>releatedPhotoBorderColor</key>
		<string>e2e2e2</string>
		<key>title8Color</key>
		<string>333333</string>
		<key>title7Color</key>
		<string>000000</string>
		<key>videoBackCenterColor</key>
		<string>332fc07a</string>
		<key>title6Color</key>
		<string>ffffff</string>
		<key>navBarIcon2Color</key>
		<string>ffffff</string>
		<key>activityTimeTitleColor</key>
		<string>ff6e49</string>
		<key>title5Color</key>
		<string>ffffff</string>
		<key>activityTimeBgEndColor</key>
		<string>ff5380</string>
		<key>activityTimeBgStartColor</key>
		<string>ff7241</string>
		<key>workTag3TintColor</key>
		<string>2fc07a</string>
		<key>title4Color</key>
		<string>444444</string>
		<key>content3Color</key>
		<string>444444</string>
		<key>contentBackgroundColor4</key>
		<string>ffffff</string>
		<key>videoBackEndColor</key>
		<string>002fc07a</string>
		<key>videoBackStartColor</key>
		<string>2fc07a</string>
		<key>seeAllButtonColor</key>
		<string>ff801a</string>
		<key>watchCountColor</key>
		<string>ccffffff</string>
		<key>commentLevelColor</key>
		<string>ffedae</string>
		<key>title3Color</key>
		<string>ffffff</string>
		<key>starProgressStarStartColor</key>
		<string>40c886</string>
		<key>starProgressStarEndColor</key>
		<string>2fc07a</string>
		<key>caseBottomTagColor</key>
		<string>eeeeeee</string>
		<key>starProgressUnStarEndColor</key>
		<string>c9c9c9</string>
		<key>starProgressUnStarStartColor</key>
		<string>999999</string>
		<key>hotelWatchButtonColor</key>
		<string>84bf61</string>
		<key>workTag2TintColor</key>
		<string>666666</string>
		<key>workTag2BackGroundColor</key>
		<string>f5f5f5</string>
		<key>groupbugTitleTintColor</key>
		<string>666666</string>
		<key>groupbugImage</key>
		<string>icon_merchant_detail_groupbuy_green</string>
		<key>workTagTintColor</key>
		<string>ffffff</string>
		<key>workPhotoCountTintColor</key>
		<string>999999</string>
		<key>workTagBackGroundColor</key>
		<string>2fc07a</string>
		<key>workBackGroundColor</key>
		<string>ffffff</string>
		<key>couponReceiveImage</key>
		<string>icon_merchant_detail_coupon_normal_selected</string>
		<key>couponUnReceiveImage</key>
		<string>icon_merchant_detail_coupon_normal</string>
		<key>callPhoneImage</key>
		<string>icon_merchant_call_phone_green</string>
		<key>jinxijiangImage</key>
		<string>icon_merchant_detail_jinxijiang</string>
		<key>jinxijiangLeftImage</key>
		<string>icon_merchant_detail_jinxijiang_pre</string>
		<key>watchButtonBackgroundStartColor</key>
		<string>40c886</string>
		<key>watchButtonBackgroundEndColor</key>
		<string>2fc07a</string>
		<key>navBarIconDefaultColor</key>
		<string>333333</string>
		<key>contentBackgroundColor1</key>
		<string>F2F3F6</string>
		<key>contentBackgroundColor2</key>
		<string>333333</string>
		<key>contentBackgroundColor3</key>
		<string>2fc07a</string>
		<key>commentCellTagBorderColor</key>
		<string>1</string>
		<key>commentCellTagDefaultyColor</key>
		<string>ccf4da</string>
		<key>tipsBackgroundColor</key>
		<string>BF000000</string>
		<key>barStyleLightContent</key>
		<string>1</string>
		<key>merchantActivityCellFinishBackGroundColor</key>
		<string>CCCCCC</string>
		<key>merchantHeaderBoxImage</key>
		<string>nil</string>
		<key>navBarIconColor</key>
		<string>ffffff</string>
		<key>merchantFocusSelectImage</key>
		<string>icon_merchant_focus_select_gold</string>
		<key>merchantFocusNormImage</key>
		<string>icon_merchant_focus_norm_gold</string>
		<key>linkColor</key>
		<string>nil</string>
		<key>commentCellNameColor</key>
		<string>333333</string>
		<key>contentBackground1Color</key>
		<string>F6F6F7</string>
		<key>line2Color</key>
		<string>D2D2D2</string>
		<key>content2Color</key>
		<string>333333</string>
		<key>starProgressLineColor</key>
		<string>e8b45e</string>
		<key>starProgressTintColor</key>
		<string>84bf61</string>
		<key>emptyCommentColor</key>
		<string>2fc07a</string>
		<key>starTrackTintColor</key>
		<string>E2E2E2</string>
		<key>merchantDynamicDayColor</key>
		<string>e8b45e</string>
		<key>merchantDynamicMonthColor</key>
		<string>e8b45e</string>
		<key>merchantQuestionTitleColor</key>
		<string>333333</string>
		<key>accentColor</key>
		<string>ff801a</string>
		<key>merchantCountDownBackgroundColor</key>
		<string>666666</string>
		<key>title0Color</key>
		<string>000000</string>
		<key>contentExtColor</key>
		<string>999999</string>
		<key>title2Color</key>
		<string>333333</string>
		<key>line1Color</key>
		<string>E2E2E2</string>
		<key>content1Color</key>
		<string>999999</string>
		<key>title1Color</key>
		<string>333333</string>
		<key>navBarTitleColor</key>
		<string>000000</string>
		<key>primaryColor</key>
		<string>2fc07a</string>
		<key>watchButtonColor</key>
		<string>ffffff</string>
		<key>contentBackgroundColor</key>
		<string>ffffff</string>
		<key>backgroundColor</key>
		<string>f2f3f6</string>
		<key>imageBackgroundColor</key>
		<string>EEEEEE</string>
		<key>merchantDetailStatusImageColor</key>
		<string>ffffff</string>
		<key>workTagTitleColor</key>
		<string>ffffff</string>
		<key>merchantDetailConfidenceImage</key>
		<string>icon_merchant_confidence_merchant_detail_normal</string>
		<key>hotelAddressColor</key>
		<string>666666</string>
	</dict>
	<key>blue</key>
	<dict>
		<key>merchantDetailTagTextColor</key>
		<string>ffffff</string>
		<key>merchantDetailTagBackgroundColor</key>
		<string>3ea2ea</string>
		<key>navBarIcon3Color</key>
		<string>3ea2ea</string>
		<key>navCollectBtnColor</key>
		<string>ffffff</string>
		<key>emptyTimeBgColor</key>
		<string>bbbbbb</string>
		<key>releatedPhotoBorderColor</key>
		<string>e2e2e2</string>
		<key>title8Color</key>
		<string>333333</string>
		<key>title7Color</key>
		<string>000000</string>
		<key>videoBackCenterColor</key>
		<string>333ea2ea</string>
		<key>title6Color</key>
		<string>ffffff</string>
		<key>navBarIcon2Color</key>
		<string>ffffff</string>
		<key>activityTimeTitleColor</key>
		<string>ff6e49</string>
		<key>title5Color</key>
		<string>ffffff</string>
		<key>activityTimeBgEndColor</key>
		<string>ff5380</string>
		<key>activityTimeBgStartColor</key>
		<string>ff7241</string>
		<key>workTag3TintColor</key>
		<string>3ea2ea</string>
		<key>title4Color</key>
		<string>444444</string>
		<key>content3Color</key>
		<string>444444</string>
		<key>contentBackgroundColor4</key>
		<string>ffffff</string>
		<key>videoBackStartColor</key>
		<string>3ea2ea</string>
		<key>videoBackEndColor</key>
		<string>003ea2ea</string>
		<key>seeAllButtonColor</key>
		<string>ff801a</string>
		<key>watchCountColor</key>
		<string>ffffff</string>
		<key>commentLevelColor</key>
		<string>ffedae</string>
		<key>title3Color</key>
		<string>ffffff</string>
		<key>starProgressStarEndColor</key>
		<string>3ea2ea</string>
		<key>starProgressStarStartColor</key>
		<string>48b1ff</string>
		<key>caseBottomTagColor</key>
		<string>eeeeeee</string>
		<key>starProgressUnStarEndColor</key>
		<string>c9c9c9</string>
		<key>starProgressUnStarStartColor</key>
		<string>999999</string>
		<key>hotelWatchButtonColor</key>
		<string>48b1ff</string>
		<key>workTag2TintColor</key>
		<string>666666</string>
		<key>workTag2BackGroundColor</key>
		<string>f5f5f5</string>
		<key>groupbugTitleTintColor</key>
		<string>666666</string>
		<key>groupbugImage</key>
		<string>icon_merchant_detail_groupbuy_blue</string>
		<key>workTagTintColor</key>
		<string>ffffff</string>
		<key>workPhotoCountTintColor</key>
		<string>999999</string>
		<key>workTagBackGroundColor</key>
		<string>3ea2ea</string>
		<key>workBackGroundColor</key>
		<string>ffffff</string>
		<key>couponReceiveImage</key>
		<string>icon_merchant_detail_coupon_normal_selected</string>
		<key>couponUnReceiveImage</key>
		<string>icon_merchant_detail_coupon_normal</string>
		<key>callPhoneImage</key>
		<string>icon_merchant_call_phone_blue</string>
		<key>jinxijiangImage</key>
		<string>icon_merchant_detail_jinxijiang</string>
		<key>jinxijiangLeftImage</key>
		<string>icon_merchant_detail_jinxijiang_pre</string>
		<key>watchButtonBackgroundStartColor</key>
		<string>48c1ff</string>
		<key>watchButtonBackgroundEndColor</key>
		<string>3ea2ea</string>
		<key>navBarIconDefaultColor</key>
		<string>333333</string>
		<key>contentBackgroundColor2</key>
		<string>333333</string>
		<key>contentBackgroundColor1</key>
		<string>F2F3F6</string>
		<key>contentBackgroundColor3</key>
		<string>3ea2ea</string>
		<key>commentCellTagBorderColor</key>
		<string>1</string>
		<key>commentCellTagDefaultyColor</key>
		<string>eff8ff</string>
		<key>tipsBackgroundColor</key>
		<string>BF000000</string>
		<key>barStyleLightContent</key>
		<string>1</string>
		<key>merchantActivityCellFinishBackGroundColor</key>
		<string>CCCCCC</string>
		<key>merchantHeaderBoxImage</key>
		<string>nil</string>
		<key>navBarIconColor</key>
		<string>ffffff</string>
		<key>merchantFocusSelectImage</key>
		<string>icon_merchant_focus_select_gold</string>
		<key>merchantFocusNormImage</key>
		<string>icon_merchant_focus_norm_gold</string>
		<key>linkColor</key>
		<string>nil</string>
		<key>commentCellNameColor</key>
		<string>333333</string>
		<key>contentBackground1Color</key>
		<string>F6F6F7</string>
		<key>line2Color</key>
		<string>D2D2D2</string>
		<key>content2Color</key>
		<string>333333</string>
		<key>starProgressLineColor</key>
		<string>e8b45e</string>
		<key>starProgressTintColor</key>
		<string>48b1ff</string>
		<key>emptyCommentColor</key>
		<string>3ea2ea</string>
		<key>starTrackTintColor</key>
		<string>E2E2E2</string>
		<key>merchantDynamicDayColor</key>
		<string>e8b45e</string>
		<key>merchantDynamicMonthColor</key>
		<string>e8b45e</string>
		<key>merchantQuestionTitleColor</key>
		<string>333333</string>
		<key>accentColor</key>
		<string>ff801a</string>
		<key>merchantCountDownBackgroundColor</key>
		<string>666666</string>
		<key>title0Color</key>
		<string>000000</string>
		<key>contentExtColor</key>
		<string>999999</string>
		<key>title2Color</key>
		<string>333333</string>
		<key>line1Color</key>
		<string>E2E2E2</string>
		<key>content1Color</key>
		<string>999999</string>
		<key>title1Color</key>
		<string>333333</string>
		<key>navBarTitleColor</key>
		<string>000000</string>
		<key>primaryColor</key>
		<string>3ea2ea</string>
		<key>watchButtonColor</key>
		<string>ffffff</string>
		<key>contentBackgroundColor</key>
		<string>ffffff</string>
		<key>backgroundColor</key>
		<string>f2f3f6</string>
		<key>imageBackgroundColor</key>
		<string>EEEEEE</string>
		<key>merchantDetailStatusImageColor</key>
		<string>ffffff</string>
		<key>workTagTitleColor</key>
		<string>ffffff</string>
		<key>merchantDetailConfidenceImage</key>
		<string>icon_merchant_confidence_merchant_detail_normal</string>
		<key>hotelAddressColor</key>
		<string>666666</string>
	</dict>
	<key>black_gold</key>
	<dict>
		<key>merchantDetailTagTextColor</key>
		<string>ffffff</string>
		<key>merchantDetailTagBackgroundColor</key>
		<string>d29c44</string>
		<key>navBarIcon3Color</key>
		<string>d29c44</string>
		<key>navCollectBtnColor</key>
		<string>d29c44</string>
		<key>emptyTimeBgColor</key>
		<string>e8b45e</string>
		<key>releatedPhotoBorderColor</key>
		<string>e8b45e</string>
		<key>title8Color</key>
		<string>242321</string>
		<key>title7Color</key>
		<string>242321</string>
		<key>videoBackCenterColor</key>
		<string>33242321</string>
		<key>title6Color</key>
		<string>d5c8b4</string>
		<key>navBarIcon2Color</key>
		<string>e8b45e</string>
		<key>activityTimeTitleColor</key>
		<string>242321</string>
		<key>title5Color</key>
		<string>242321</string>
		<key>activityTimeBgEndColor</key>
		<string>e8b45e</string>
		<key>activityTimeBgStartColor</key>
		<string>f5c77c</string>
		<key>workTag3TintColor</key>
		<string>d29c44</string>
		<key>title4Color</key>
		<string>e8b45e</string>
		<key>content3Color</key>
		<string>d5c8b4</string>
		<key>contentBackgroundColor4</key>
		<string>2d2c2a</string>
		<key>videoBackEndColor</key>
		<string>00242321</string>
		<key>videoBackStartColor</key>
		<string>242321</string>
		<key>seeAllButtonColor</key>
		<string>d29c44</string>
		<key>watchCountColor</key>
		<string>d5c8b4</string>
		<key>commentLevelColor</key>
		<string>d29c44</string>
		<key>title3Color</key>
		<string>d5c8b4</string>
		<key>starProgressStarEndColor</key>
		<string>d29c44</string>
		<key>starProgressStarStartColor</key>
		<string>e1ad58</string>
		<key>caseBottomTagColor</key>
		<string>ffffff</string>
		<key>starProgressUnStarEndColor</key>
		<string>777066</string>
		<key>starProgressUnStarStartColor</key>
		<string>666057</string>
		<key>hotelWatchButtonColor</key>
		<string>e8b45e</string>
		<key>workTag2TintColor</key>
		<string>242321</string>
		<key>workTag2BackGroundColor</key>
		<string>d5c8b4</string>
		<key>groupbugTitleTintColor</key>
		<string>d5c8b4</string>
		<key>groupbugImage</key>
		<string>icon_merchant_detail_groupbuy_gold</string>
		<key>workTagTintColor</key>
		<string>242321</string>
		<key>workPhotoCountTintColor</key>
		<string>242321</string>
		<key>workTagBackGroundColor</key>
		<string>d5c8b4</string>
		<key>workBackGroundColor</key>
		<string>d5c8b4</string>
		<key>couponReceiveImage</key>
		<string>icon_merchant_detail_coupon_gold_selected</string>
		<key>couponUnReceiveImage</key>
		<string>icon_merchant_detail_coupon_gold</string>
		<key>callPhoneImage</key>
		<string>icon_merchant_call_phone_gold</string>
		<key>jinxijiangImage</key>
		<string>icon_merchant_detail_jinxijiang_heijin</string>
		<key>jinxijiangLeftImage</key>
		<string>icon_merchant_detail_jinxijiang_pre</string>
		<key>watchButtonBackgroundEndColor</key>
		<string>d29c44</string>
		<key>watchButtonBackgroundStartColor</key>
		<string>e1ad58</string>
		<key>navBarIconDefaultColor</key>
		<string>e8b45e</string>
		<key>contentBackgroundColor1</key>
		<string>242321</string>
		<key>contentBackgroundColor2</key>
		<string>242321</string>
		<key>contentBackgroundColor3</key>
		<string>242321</string>
		<key>commentCellTagBorderColor</key>
		<string>d4c7b4</string>
		<key>commentCellTagDefaultyColor</key>
		<string>d4c7b4</string>
		<key>tipsBackgroundColor</key>
		<string>BFFFFFFF</string>
		<key>barStyleLightContent</key>
		<string>1</string>
		<key>merchantActivityCellFinishBackGroundColor</key>
		<string>666057</string>
		<key>merchantHeaderBoxImage</key>
		<string>image_merchant_header_box</string>
		<key>navBarIconColor</key>
		<string>e8b45e</string>
		<key>merchantFocusSelectImage</key>
		<string>icon_merchant_focus_select_gold</string>
		<key>merchantFocusNormImage</key>
		<string>icon_merchant_focus_norm_gold</string>
		<key>linkColor</key>
		<string>e8b45e</string>
		<key>commentCellNameColor</key>
		<string>e8b45e</string>
		<key>contentBackground1Color</key>
		<string>2d2c2a</string>
		<key>line2Color</key>
		<string>3e3d3a</string>
		<key>content2Color</key>
		<string>d5c8b4</string>
		<key>starProgressLineColor</key>
		<string>e8b45e</string>
		<key>starProgressTintColor</key>
		<string>e8b45e</string>
		<key>emptyCommentColor</key>
		<string>d29c44</string>
		<key>starTrackTintColor</key>
		<string>d5c8b4</string>
		<key>merchantDynamicDayColor</key>
		<string>e8b45e</string>
		<key>merchantDynamicMonthColor</key>
		<string>e8b45e</string>
		<key>merchantQuestionTitleColor</key>
		<string>e8b45e</string>
		<key>accentColor</key>
		<string>e8b45e</string>
		<key>merchantCountDownBackgroundColor</key>
		<string>e8b45e</string>
		<key>title0Color</key>
		<string>e8b45e</string>
		<key>contentExtColor</key>
		<string>d5c8b4</string>
		<key>title2Color</key>
		<string>d5c8b4</string>
		<key>line1Color</key>
		<string>3e3d3a</string>
		<key>content1Color</key>
		<string>d5c8b4</string>
		<key>title1Color</key>
		<string>d5c8b4</string>
		<key>navBarTitleColor</key>
		<string>e8b45e</string>
		<key>primaryColor</key>
		<string>d29c44</string>
		<key>watchButtonColor</key>
		<string>242321</string>
		<key>contentBackgroundColor</key>
		<string>242321</string>
		<key>backgroundColor</key>
		<string>2d2c2a</string>
		<key>imageBackgroundColor</key>
		<string>3E3D3A</string>
		<key>merchantDetailStatusImageColor</key>
		<string>ffffff</string>
		<key>workTagTitleColor</key>
		<string>242321</string>
		<key>merchantDetailConfidenceImage</key>
		<string>icon_merchant_confidence_merchant_detail_black_gold</string>
		<key>hotelAddressColor</key>
		<string>d5c8b4</string>
	</dict>
</dict>
</plist>
